{% extends "posts/post_base.html" %}

{% block content %}
<div class="col-md-8">
    <div class="post media ">
        <div class="post media list-group-item" style="margin-top: 9px;"><h3 class="title list-group-item-heading" style="color: black !important; margin-bottom: 10px;font-size: large;">{{ post.question }}</h3></div>
        <div class="post media list-group-item" style="margin-top: 9px; background-color: beige;"><h3 class="title list-group-item-heading" style="color: black !important; margin-bottom: 10px !important; font-size: medium;">{{ post.description_html|safe }}</h3>    
        {% if post.picture %}
        <img src="{{ post.picture.url }}" class="img-responsive" style="width: auto; height:auto;float: left;margin-right: 10px; margin-top: 6px;" /> 
        {%  endif %}
    </div>  
        <div class="media-body">
            <h5 class="media-heading" style="margin-top: 7px;">
                <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
                <time class="time"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time>
            </h5>
    
    
            <div class="media-footer">
                {% if user.is_authenticated and post.user == user and not hide_delete %}
                <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-danger btn-large" style="color: white;"> Delete</a>
                {% endif %}
                {% if user.is_authenticated and user in post.group.members.all %}
                <a class="btn btn-primary btn-comment" href="{% url 'posts:create2' pk=post.pk %}">Add comment</a>
                {% endif %}
    
            </div>
            {% for comment in post.comments.all %}
            <div class="post media list-group-item" style="margin-top: 9px;background-color:rgb(182, 179, 175);" >
                <h3 class="title list-group-item-heading" style="color: black !important; margin-bottom: 10px !important; font-size: medium;">{{ comment.comment }}</h3>
                {% if comment.pic %}
                <img src="{{ comment.pic.url }}" class="img-responsive" style="width: auto; height:auto;float: inherit; margin-right: 10px; margin-top: 6px; margin-bottom: 9px;" /> 
                {% endif %}
                <div class="media-body">
                    <h5 class="media-heading">
                        <span class="username"><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ comment.user.username }}</a></span>
                        <time class="time" style="color: black;">{{ comment.created_at }}</time>
                    </h5>
            
                    <div class="media-footer">
                        {% if user.is_authenticated and comment.user == user and not hide_delete %}
                            <a href="{% url 'posts:delete_comment' pk=comment.pk %}" title="delete" class="btn btn-simple">
                                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                <span class="text-danger icon-label">Delete</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
    
        </div>
    </div>
    
</div>
{% endblock %}
