{% extends "groups/group_base.html" %}

{% block content %}

<h1>{{group.name}}</h1>
<h2> Member Count: {{group.members.count}}</h2>

  <div class="content">


				{% if user in group.members.all %}
					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
                    <a href="{% url 'posts:create1' pk=group.pk %}" class="btn btn-lg btn-fill btn-warning" ><span class="glyphicon glyphicon-ok-circle"></span> Ask Question / Post </a></li>
                    {% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>
				{% endif %}



</div>

<div class="col-md-8 list-group">
	{% if group.posts.count == 0 %}
	<h2>No posts in this group yet!</h2>

	{% else %}
        {% for post in group.posts.all %}
   
        <div class="post media list-group-item" style="margin-top: 9px;">
            <h3 class="title list-group-item-heading" style="color: black !important; margin-bottom: 10px;"><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.question }}</a></h3>
            <div class="media-body">
                <h5 class="media-heading">
                    <span class="username" style="color: black;">By:<a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
                    <time class="time" style="color: black;">{{ post.created_at }}</time>
                </h5>
                <span style="color:black;"><span class="badge">{{ post.comments.count }}</span> comment{{ post.comments.count|pluralize}}</span>
                <div class="media-footer">
                    {% if user.is_authenticated and post.user == user and not hide_delete %}
                    <a href="{% url 'posts:delete' pk=post.pk %}" class="btn btn-danger btn-large" style="color: white;margin-top: 4px;"> Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
